.start {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 30px 200px;
    background-color: rgb(163, 204, 236);
    border-radius: 14px;
    height: 70vh;
}

.play {
    background-color: rgb(222, 138, 243);
    height: 30vh;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    width: 80vh;
    font-size: 30px;
}

.button {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 15vh;
    width: 50vh;
    border-radius: 25px;
    margin-left: 20%;
}

.start-button {
    width: 30vh;
    margin: 10px;
    border-radius: 40px;
    font-size: 45px;
}